<html>
	<head>
		<script src="/static/js/classdef.js"></script>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/kiwi.js"></script>
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/jquery-ui.min.css" />
	</head>
	<body>
		<h1>hello ,index </h1>
		
		<div class="cmp-position" style="width:1000px;height:500px;background:#CCC;"></div>
		
		<div id="dialog" title="组件树">
  
<div class="dlg-left">
	the tree
</div>
<div class="dlg-right">
	the properties
</div>
</div>


<div id="componentList" title="组件列表">
	
	<div class="searchBar"> <input type="text" name="name" /> <input type="button" /></div>
	<div class="list"></div>
	<div class="paging"> 1 2 3 4</div>
</div>


	</body>
</html>
