<html>
	<head>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/classdef.js"></script>
		<script src="/static/js/json2.js"></script>		
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/kiwi.js"></script>
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/jquery-ui.min.css" />
	</head>
	<body>
		
		
		<div id="rootContainer"></div>
		
		<!--
		<div class="cmp-position" style="width:1000px;height:500px;background:#CCC;">
			<div style="margin:80px;">
				<div class="not-drop" style="width:840px;height:340px;background:#FFF;">
					<div style="margin:80px;">
						<div class="cmp-position" style="width:680px;height:180px;background:#CCC;">
					
						</div>
					</div>
				</div>
			</div>
		</div> 
		-->
		
		<div id="dialog" title="组件树">
  
			<div class="dlg-left">
				the tree
			</div>
			<div class="dlg-right">
				the properties
			</div>
		</div>


		<div id="componentList" title="组件列表">
			
			<div class="tags">
				<span>后台框架</span> <span>菜单</span> <span>表格</span> <span>树</span>
			</div>
			
			<div class="search-bar"> 
				<input type="text" name="name" /> 
				<input type="button" value="Search" />
			</div>
		
			<div class="prev"> prev </div>
			<div class="list" style="margin: 0px -8px;clear:both;float:left;"></div>
			<div class="next"> next </div>
		</div>


	</body>
</html>
