<html>
	<head>
		<script src="/static/js/classdef.js"></script>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/kiwi.js"></script>
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/jquery-ui.min.css" />
	</head>
	<body>
		<h1>hello ,index </h1>
		
		<div id="dialog" title="组件树">
  
<div class="dlg-left">
	the tree
</div>
<div class="dlg-right">
	the properties
</div>
</div>


<div id="componentList" title="组件列表">
	this is the componentList
</div>


	</body>
</html>
