body{
	margin:auto;
}
.cmp-define{
	float:left;
	width:80px;
	height:80px;
	margin:8px;
	background:#BBB;
	cursor:move;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#componentList,#dialog {
	font-size:13px;
	overflow : visible;
}

.ui-front {
    z-index: 1000;
}

ul.ztree.zTreeDragUL{
	z-index : 99999;
}

.dlg-left{
	width : 150px;
	position : absolute;
	background : #EFEFEF;
}

.dlg-right{
	margin-left : 158px;
	width : 250px;
	min-height : 100px;
}

.kw-clear{
	clear : both;
}

